

body {
  margin: 0;
}

.p-section-first{
  width:100%;
  &__view{
    display:block;
    width:400px;
    height:400px;
  }
  &__svg-container{
    display:block;
    width:400px;
    height:400px;
  }
}

.p-float{
  &__export{
    display:block;
    position:fixed;
    right:0;
    bottom:0;

  }
}